<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.9.3" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.9.3" targetFramework="net45" />
  <package id="Grpc" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Grpc.Auth" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Grpc.Core" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
</packages>
