<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.15.0" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.15.0" targetFramework="net45" />
  <package id="Grpc" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Grpc.Auth" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Grpc.Core" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Grpc.Core.Api" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Grpc.Tools" version="__GRPC_NUGET_VERSION__" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.13.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.3" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
</packages>
