<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis.Auth" version="1.9.1" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.9.1" targetFramework="net45" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
</packages>