{
 "kind": "discovery#restDescription",
 "discoveryVersion": "v1",
 "id": "compute:alpha",
 "name": "compute",
 "version": "alpha",
 "revision": "20210816",
 "title": "Compute Engine API",
 "description": "Creates and runs virtual machines on Google Cloud Platform.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
  "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
 },
 "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
 "protocol": "rest",
 "baseUrl": "https://compute.googleapis.com/compute/alpha/",
 "basePath": "/compute/alpha/",
 "rootUrl": "https://compute.googleapis.com/",
 "servicePath": "compute/alpha/",
 "batchPath": "batch/compute/alpha",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "Deprecated. Please use quotaUser instead.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
    },
    "https://www.googleapis.com/auth/compute": {
     "description": "View and manage your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/compute.readonly": {
     "description": "View your Google Compute Engine resources"
    },
    "https://www.googleapis.com/auth/devstorage.full_control": {
     "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
    },
    "https://www.googleapis.com/auth/devstorage.read_only": {
     "description": "View your data in Google Cloud Storage"
    },
    "https://www.googleapis.com/auth/devstorage.read_write": {
     "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
    }
   }
  }
 },
 "schemas": {
  "AcceleratorConfig": {
   "id": "AcceleratorConfig",
   "type": "object",
   "description": "A specification of the type and number of accelerator cards attached to the instance.",
   "properties": {
    "acceleratorCount": {
     "type": "integer",
     "description": "The number of the guest accelerator cards exposed to this instance.",
     "format": "int32"
    },
    "acceleratorType": {
     "type": "string",
     "description": "Full or partial URL of the accelerator type resource to attach to this instance. For example: projects/my-project/zones/us-central1-c/acceleratorTypes/nvidia-tesla-p100 If you are creating an instance template, specify only the accelerator name. See GPUs on Compute Engine for a full list of accelerator types."
    }
   }
  },
  "AcceleratorType": {
   "id": "AcceleratorType",
   "type": "object",
   "description": "Represents an Accelerator Type resource.\n\nGoogle Cloud Platform provides graphics processing units (accelerators) that you can add to VM instances to improve or accelerate performance when working with intensive workloads. For more information, read GPUs on Compute Engine. (== resource_for {$api_version}.acceleratorTypes ==)",
   "properties": {
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "deprecated": {
     "$ref": "DeprecationStatus",
     "description": "[Output Only] The deprecation status associated with this accelerator type."
    },
    "description": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] The type of the resource. Always compute#acceleratorType for accelerator types.",
     "default": "compute#acceleratorType"
    },
    "maximumCardsPerInstance": {
     "type": "integer",
     "description": "[Output Only] Maximum number of accelerator cards allowed per instance.",
     "format": "int32"
    },
    "name": {
     "type": "string",
     "description": "[Output Only] Name of the resource.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined, fully qualified URL for this resource."
    },
    "selfLinkWithId": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource's resource id."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] The name of the zone where the accelerator type resides, such as us-central1-a. You must specify this field as part of the HTTP request URL. It is not settable as a field in the request body."
    }
   }
  },
  "AcceleratorTypeAggregatedList": {
   "id": "AcceleratorTypeAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A list of AcceleratorTypesScopedList resources.",
     "additionalProperties": {
      "$ref": "AcceleratorTypesScopedList",
      "description": "[Output Only] Name of the scope containing this set of accelerator types."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#acceleratorTypeAggregatedList for aggregated lists of accelerator types.",
     "default": "compute#acceleratorTypeAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "unreachables": {
     "type": "array",
     "description": "[Output Only] Unreachable resources.",
     "items": {
      "type": "string"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AcceleratorTypeList": {
   "id": "AcceleratorTypeList",
   "type": "object",
   "description": "Contains a list of accelerator types.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of AcceleratorType resources.",
     "items": {
      "$ref": "AcceleratorType"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#acceleratorTypeList for lists of accelerator types.",
     "default": "compute#acceleratorTypeList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AcceleratorTypesScopedList": {
   "id": "AcceleratorTypesScopedList",
   "type": "object",
   "properties": {
    "acceleratorTypes": {
     "type": "array",
     "description": "[Output Only] A list of accelerator types contained in this scope.",
     "items": {
      "$ref": "AcceleratorType"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] An informational warning that appears when the accelerator types list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AccessConfig": {
   "id": "AccessConfig",
   "type": "object",
   "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
   "properties": {
    "externalIpv6": {
     "type": "string",
     "description": "[Output Only] The first IPv6 address of the external IPv6 range associated with this instance, prefix length is stored in externalIpv6PrefixLength in ipv6AccessConfig. The field is output only, an IPv6 address from a subnetwork associated with the instance will be allocated dynamically."
    },
    "externalIpv6PrefixLength": {
     "type": "integer",
     "description": "[Output Only] The prefix length of the external IPv6 range.",
     "format": "int32"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#accessConfig for access configs.",
     "default": "compute#accessConfig"
    },
    "name": {
     "type": "string",
     "description": "The name of this access configuration. The default and recommended name is External NAT, but you can use any arbitrary string, such as My external IP or Network Access."
    },
    "natIP": {
     "type": "string",
     "description": "An external IP address associated with this instance. Specify an unused static external IP address available to the project or leave this field undefined to use an IP from a shared ephemeral IP address pool. If you specify a static external IP address, it must live in the same region as the zone of the instance."
    },
    "networkTier": {
     "type": "string",
     "description": "This signifies the networking tier used for configuring this access configuration and can only take the following values: PREMIUM, STANDARD.\n\nIf an AccessConfig is specified without a valid external IP address, an ephemeral IP will be created with this networkTier.\n\nIf an AccessConfig with a valid external IP address is specified, it must match that of the networkTier associated with the Address resource owning that IP.",
     "enum": [
      "FIXED_STANDARD",
      "PREMIUM",
      "SELECT",
      "STANDARD",
      "STANDARD_OVERRIDES_FIXED_STANDARD"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "publicDnsName": {
     "type": "string",
     "description": "[Output Only] The public DNS domain name for the instance."
    },
    "publicPtrDomainName": {
     "type": "string",
     "description": "The DNS domain name for the public PTR record. You can set this field only if the `setPublicPtr` field is enabled."
    },
    "setPublicDns": {
     "type": "boolean",
     "description": "Specifies whether a public DNS 'A' record should be created for the external IP address of this access configuration."
    },
    "setPublicPtr": {
     "type": "boolean",
     "description": "Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name."
    },
    "type": {
     "type": "string",
     "description": "The type of configuration. The default and only option is ONE_TO_ONE_NAT.",
     "default": "ONE_TO_ONE_NAT",
     "enum": [
      "DIRECT_IPV6",
      "ONE_TO_ONE_NAT"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    }
   }
  },
  "Address": {
   "id": "Address",
   "type": "object",
   "description": "Represents an IP Address resource.\n\nGoogle Compute Engine has two IP Address resources:\n\n* [Global (external and internal)](https://cloud.google.com/compute/docs/reference/rest/{$api_version}/globalAddresses) * [Regional (external and internal)](https://cloud.google.com/compute/docs/reference/rest/{$api_version}/addresses)\n\nFor more information, see  Reserving a static external IP address.\n\n(== resource_for {$api_version}.addresses ==) (== resource_for {$api_version}.globalAddresses ==)",
   "properties": {
    "address": {
     "type": "string",
     "description": "The static IP address represented by this resource."
    },
    "addressType": {
     "type": "string",
     "description": "The type of address to reserve, either INTERNAL or EXTERNAL. If unspecified, defaults to EXTERNAL.",
     "enum": [
      "DNS_FORWARDING",
      "EXTERNAL",
      "INTERNAL",
      "UNSPECIFIED_TYPE"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this field when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "ipVersion": {
     "type": "string",
     "description": "The IP version that will be used by this address. Valid options are IPV4 or IPV6. This can only be specified for a global address.",
     "enum": [
      "IPV4",
      "IPV6",
      "UNSPECIFIED_VERSION"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#address for addresses.",
     "default": "compute#address"
    },
    "labelFingerprint": {
     "type": "string",
     "description": "A fingerprint for the labels being applied to this Address, which is essentially a hash of the labels set used for optimistic locking. The fingerprint is initially generated by Compute Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash in order to update or change labels, otherwise the request will fail with error 412 conditionNotMet.\n\nTo see the latest fingerprint, make a get() request to retrieve an Address.",
     "format": "byte"
    },
    "labels": {
     "type": "object",
     "description": "Labels for this resource. These can only be added or modified by the setLabels method. Each label key/value pair must comply with RFC1035. Label values may be empty.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?`. The first character must be a lowercase letter, and all following characters (except for the last character) must be a dash, lowercase letter, or digit. The last character must be a lowercase letter or digit.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.addresses.insert"
      ]
     }
    },
    "network": {
     "type": "string",
     "description": "The URL of the network in which to reserve the address. This field can only be used with INTERNAL type with the VPC_PEERING purpose."
    },
    "networkTier": {
     "type": "string",
     "description": "This signifies the networking tier used for configuring this address and can only take the following values: PREMIUM or STANDARD. Internal IP addresses are always Premium Tier; global external IP addresses are always Premium Tier; regional external IP addresses can be either Standard or Premium Tier.\n\nIf this field is not specified, it is assumed to be PREMIUM.",
     "enum": [
      "FIXED_STANDARD",
      "PREMIUM",
      "SELECT",
      "STANDARD",
      "STANDARD_OVERRIDES_FIXED_STANDARD"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "prefixLength": {
     "type": "integer",
     "description": "The prefix length if the resource represents an IP range.",
     "format": "int32"
    },
    "purpose": {
     "type": "string",
     "description": "The purpose of this resource, which can be one of the following values:  \n- GCE_ENDPOINT for addresses that are used by VM instances, alias IP ranges, load balancers, and similar resources. \n- DNS_RESOLVER for a DNS resolver address in a subnetwork for a Cloud DNS  inbound forwarder IP addresses (regional internal IP address in a subnet of a VPC network) \n- VPC_PEERING for global internal IP addresses used for  private services access allocated ranges. \n- NAT_AUTO for the regional external IP addresses used by Cloud NAT when allocating addresses using \u003ca href=\"https://cloud.google.com/nat/docs/ports-and-addresses#addresses\" automatic NAT IP address allocation. \n- IPSEC_INTERCONNECT for addresses created from a private IP range that are reserved for a VLAN attachment in an IPsec-encrypted Cloud Interconnect configuration. These addresses are regional resources. Not currently available publicly. \n- `SHARED_LOADBALANCER_VIP` for an internal IP address that is assigned to multiple internal forwarding rules. \n- `PRIVATE_SERVICE_CONNECT` for a private network address that is used to configure Private Service Connect. Only global internal addresses can use this purpose.",
     "enum": [
      "DNS_RESOLVER",
      "GCE_ENDPOINT",
      "IPSEC_INTERCONNECT",
      "NAT_AUTO",
      "PRIVATE_SERVICE_CONNECT",
      "SHARED_LOADBALANCER_VIP",
      "VPC_PEERING"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    },
    "region": {
     "type": "string",
     "description": "[Output Only] The URL of the region where a regional address resides. For regional addresses, you must specify the region as a path parameter in the HTTP request URL. This field is not applicable to global addresses."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "selfLinkWithId": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource with the resource id."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the address, which can be one of RESERVING, RESERVED, or IN_USE. An address that is RESERVING is currently in the process of being reserved. A RESERVED address is currently reserved and available to use. An IN_USE address is currently being used by another resource and is not available.",
     "enum": [
      "IN_USE",
      "RESERVED",
      "RESERVING"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "subnetwork": {
     "type": "string",
     "description": "The URL of the subnetwork in which to reserve the address. If an IP address is specified, it must be within the subnetwork's IP range. This field can only be used with INTERNAL type with a GCE_ENDPOINT or DNS_RESOLVER purpose."
    },
    "users": {
     "type": "array",
     "description": "[Output Only] The URLs of the resources that are using this address.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "AddressAggregatedList": {
   "id": "AddressAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A list of AddressesScopedList resources.",
     "additionalProperties": {
      "$ref": "AddressesScopedList",
      "description": "[Output Only] Name of the scope containing this set of addresses."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressAggregatedList for aggregated lists of addresses.",
     "default": "compute#addressAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "unreachables": {
     "type": "array",
     "description": "[Output Only] Unreachable resources.",
     "items": {
      "type": "string"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AddressList": {
   "id": "AddressList",
   "type": "object",
   "description": "Contains a list of addresses.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of Address resources.",
     "items": {
      "$ref": "Address"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#addressList for lists of addresses.",
     "default": "compute#addressList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AddressesScopedList": {
   "id": "AddressesScopedList",
   "type": "object",
   "properties": {
    "addresses": {
     "type": "array",
     "description": "[Output Only] A list of addresses contained in this scope.",
     "items": {
      "$ref": "Address"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of addresses when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AdvancedMachineFeatures": {
   "id": "AdvancedMachineFeatures",
   "type": "object",
   "description": "Specifies options for controlling advanced machine features. Options that would traditionally be configured in a BIOS belong here. Features that require operating system support may have corresponding entries in the GuestOsFeatures of an Image (e.g., whether or not the OS in the Image supports nested virtualization being enabled or disabled).",
   "properties": {
    "enableNestedVirtualization": {
     "type": "boolean",
     "description": "Whether to enable nested virtualization or not (default is false)."
    },
    "numaNodeCount": {
     "type": "integer",
     "description": "The number of vNUMA nodes.",
     "format": "int32"
    },
    "threadsPerCore": {
     "type": "integer",
     "description": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed.",
     "format": "int32"
    },
    "visibleCoreCount": {
     "type": "integer",
     "description": "The number of physical cores to expose to an instance. Multiply by the number of threads per core to compute the total number of virtual CPUs to expose to the instance. If unset, the number of cores is inferred from the instance's nominal CPU count and the underlying platform's SMT width.",
     "format": "int32"
    }
   }
  },
  "AliasIpRange": {
   "id": "AliasIpRange",
   "type": "object",
   "description": "An alias IP range attached to an instance's network interface.",
   "properties": {
    "ipCidrRange": {
     "type": "string",
     "description": "The IP alias ranges to allocate for this interface. This IP CIDR range must belong to the specified subnetwork and cannot contain IP addresses reserved by system or used by other network interfaces. This range may be a single IP address (such as 10.2.3.4), a netmask (such as /24) or a CIDR-formatted string (such as 10.1.2.0/24)."
    },
    "subnetworkRangeName": {
     "type": "string",
     "description": "The name of a subnetwork secondary IP range from which to allocate an IP alias range. If not specified, the primary range of the subnetwork is used."
    }
   }
  },
  "AllocationSpecificSKUAllocationAllocatedInstancePropertiesReservedDisk": {
   "id": "AllocationSpecificSKUAllocationAllocatedInstancePropertiesReservedDisk",
   "type": "object",
   "properties": {
    "diskSizeGb": {
     "type": "string",
     "description": "Specifies the size of the disk in base-2 GB.",
     "format": "int64"
    },
    "interface": {
     "type": "string",
     "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance.",
     "enum": [
      "NVDIMM",
      "NVME",
      "SCSI"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "AllocationSpecificSKUAllocationReservedInstanceProperties": {
   "id": "AllocationSpecificSKUAllocationReservedInstanceProperties",
   "type": "object",
   "description": "Properties of the SKU instances being reserved. Next ID: 9",
   "properties": {
    "guestAccelerators": {
     "type": "array",
     "description": "Specifies accelerator type and count.",
     "items": {
      "$ref": "AcceleratorConfig"
     }
    },
    "localSsds": {
     "type": "array",
     "description": "Specifies amount of local ssd to reserve with each instance. The type of disk is local-ssd.",
     "items": {
      "$ref": "AllocationSpecificSKUAllocationAllocatedInstancePropertiesReservedDisk"
     }
    },
    "locationHint": {
     "type": "string",
     "description": "An opaque location hint used to place the allocation close to other resources. This field is for use by internal tools that use the public API."
    },
    "machineType": {
     "type": "string",
     "description": "Specifies type of machine (name only) which has fixed number of vCPUs and fixed amount of memory. This also includes specifying custom machine type following custom-NUMBER_OF_CPUS-AMOUNT_OF_MEMORY pattern."
    },
    "maintenanceFreezeDurationHours": {
     "type": "integer",
     "description": "Specifies the number of hours after reservation creation where instances using the reservation won't be scheduled for maintenance.",
     "format": "int32"
    },
    "maintenanceInterval": {
     "type": "string",
     "description": "For more information about maintenance intervals, see Setting maintenance intervals.",
     "enum": [
      "PERIODIC"
     ],
     "enumDescriptions": [
      ""
     ]
    },
    "minCpuPlatform": {
     "type": "string",
     "description": "Minimum cpu platform the reservation."
    }
   }
  },
  "AllocationSpecificSKUReservation": {
   "id": "AllocationSpecificSKUReservation",
   "type": "object",
   "description": "This reservation type allows to pre allocate specific instance configuration. Next ID: 5",
   "properties": {
    "count": {
     "type": "string",
     "description": "Specifies the number of resources that are allocated.",
     "format": "int64"
    },
    "inUseCount": {
     "type": "string",
     "description": "[Output Only] Indicates how many instances are in use.",
     "format": "int64"
    },
    "instanceProperties": {
     "$ref": "AllocationSpecificSKUAllocationReservedInstanceProperties",
     "description": "The instance properties for the reservation."
    }
   }
  },
  "AttachedDisk": {
   "id": "AttachedDisk",
   "type": "object",
   "description": "An instance-attached disk resource.",
   "properties": {
    "autoDelete": {
     "type": "boolean",
     "description": "Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
    },
    "boot": {
     "type": "boolean",
     "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
    },
    "deviceName": {
     "type": "string",
     "description": "Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance.\n\nIf not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
    },
    "diskEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "Encrypts or decrypts a disk using a customer-supplied encryption key.\n\nIf you are creating a new disk, this field encrypts the new disk using an encryption key that you provide. If you are attaching an existing disk that is already encrypted, this field decrypts the disk using the customer-supplied encryption key.\n\nIf you encrypt a disk using a customer-supplied key, you must provide the same key again when you attempt to use this resource at a later time. For example, you must provide the key when you create a snapshot or an image from the disk or when you attach the disk to a virtual machine instance.\n\nIf you do not provide an encryption key, then the disk will be encrypted using an automatically generated key and you do not need to provide a key to use the disk later.\n\nInstance templates do not store customer-supplied encryption keys, so you cannot use your own keys to encrypt disks in a managed instance group."
    },
    "diskSizeGb": {
     "type": "string",
     "description": "The size of the disk in GB.",
     "format": "int64"
    },
    "forceAttach": {
     "type": "boolean",
     "description": "[Input Only] Whether to force attach the regional disk even if it's currently attached to another instance. If you try to force attach a zonal disk to an instance, you will receive an error."
    },
    "guestOsFeatures": {
     "type": "array",
     "description": "A list of features to enable on the guest operating system. Applicable only for bootable images. Read  Enabling guest operating system features to see a list of available options.",
     "items": {
      "$ref": "GuestOsFeature"
     }
    },
    "index": {
     "type": "integer",
     "description": "[Output Only] A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
     "format": "int32"
    },
    "initializeParams": {
     "$ref": "AttachedDiskInitializeParams",
     "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both."
    },
    "interface": {
     "type": "string",
     "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance.",
     "enum": [
      "NVDIMM",
      "NVME",
      "SCSI"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#attachedDisk for attached disks.",
     "default": "compute#attachedDisk"
    },
    "licenses": {
     "type": "array",
     "description": "[Output Only] Any valid publicly visible licenses.",
     "items": {
      "type": "string"
     }
    },
    "locked": {
     "type": "boolean",
     "description": "[Output Only] Whether to indicate the attached disk is locked. The locked disk is not allowed to be detached from the instance, or to be used as the source of the snapshot creation, and the image creation. The instance with at least one locked attached disk is not allow to be used as source of machine image creation, instant snapshot creation, and not allowed to be deleted with --keep-disk parameter set to true for locked disks."
    },
    "mode": {
     "type": "string",
     "description": "The mode in which to attach this disk, either READ_WRITE or READ_ONLY. If not specified, the default is to attach the disk in READ_WRITE mode.",
     "enum": [
      "READ_ONLY",
      "READ_WRITE"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "savedState": {
     "type": "string",
     "description": "For LocalSSD disks on VM Instances in STOPPED or SUSPENDED state, this field is set to PRESERVED if the LocalSSD data has been saved to a persistent location by customer request. (see the discard_local_ssd option on Stop/Suspend). Read-only in the api.",
     "enum": [
      "DISK_SAVED_STATE_UNSPECIFIED",
      "PRESERVED"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "shieldedInstanceInitialState": {
     "$ref": "InitialStateConfig",
     "description": "[Output Only] shielded vm initial state stored on disk"
    },
    "source": {
     "type": "string",
     "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource. When creating a new instance, one of initializeParams.sourceImage or initializeParams.sourceSnapshot or disks.source is required except for local SSD.\n\nIf desired, you can also attach existing non-root persistent disks using this property. This field is only applicable for persistent disks.\n\nNote that for InstanceTemplate, specify the disk name, not the URL for the disk."
    },
    "type": {
     "type": "string",
     "description": "Specifies the type of the disk, either SCRATCH or PERSISTENT. If not specified, the default is PERSISTENT.",
     "enum": [
      "PERSISTENT",
      "SCRATCH"
     ],
     "enumDescriptions": [
      "",
      ""
     ]
    },
    "userLicenses": {
     "type": "array",
     "description": "[Output Only] A list of user provided licenses. It represents a list of URLs to the license resource. Unlike regular licenses, user provided licenses can be modified after the disk is created.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "AttachedDiskInitializeParams": {
   "id": "AttachedDiskInitializeParams",
   "type": "object",
   "description": "[Input Only] Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance.\n\nThis property is mutually exclusive with the source property; you can only define one or the other, but not both.",
   "properties": {
    "description": {
     "type": "string",
     "description": "An optional description. Provide this property when creating the disk."
    },
    "diskName": {
     "type": "string",
     "description": "Specifies the disk name. If not specified, the default is to use the name of the instance. If a disk with the same name already exists in the given region, the existing disk is attached to the new instance and the new disk is not created."
    },
    "diskSizeGb": {
     "type": "string",
     "description": "Specifies the size of the disk in base-2 GB. The size must be at least 10 GB. If you specify a sourceImage, which is required for boot disks, the default size is the size of the sourceImage. If you do not specify a sourceImage, the default disk size is 500 GB.",
     "format": "int64"
    },
    "diskType": {
     "type": "string",
     "description": "Specifies the disk type to use to create the instance. If not specified, the default is pd-standard, specified using the full URL. For example:\nhttps://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/pd-standard\n\n\nFor a full list of acceptable values, see Persistent disk types. If you define this field, you can provide either the full or partial URL. For example, the following are valid values:  \n- https://www.googleapis.com/compute/v1/projects/project/zones/zone/diskTypes/diskType \n- projects/project/zones/zone/diskTypes/diskType \n- zones/zone/diskTypes/diskType  Note that for InstanceTemplate, this is the name of the disk type, not URL."
    },
    "guestOsFeatures": {
     "type": "array",
     "description": "A list of features to enable on the guest operating system. Applicable only for bootable images. Read  Enabling guest operating system features to see a list of available options.\n\nGuest OS features are applied by merging initializeParams.guestOsFeatures and disks.guestOsFeatures",
     "items": {
      "$ref": "GuestOsFeature"
     }
    },
    "interface": {
     "type": "string",
     "description": "[Deprecated] Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI.",
     "enum": [
      "NVME",
      "SCSI",
      "UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "labels": {
     "type": "object",
     "description": "Labels to apply to this disk. These can be later modified by the disks.setLabels method. This field is only applicable for persistent disks.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "licenseCodes": {
     "type": "array",
     "description": "Integer license codes indicating which licenses are attached to this disk.",
     "items": {
      "type": "string",
      "format": "int64"
     }
    },
    "licenses": {
     "type": "array",
     "description": "A list of publicly visible licenses. Reserved for Google's use.",
     "items": {
      "type": "string"
     }
    },
    "multiWriter": {
     "type": "boolean",
     "description": "Indicates whether or not the disk can be read/write attached to more than one instance."
    },
    "onUpdateAction": {
     "type": "string",
     "description": "Specifies which action to take on instance update with this disk. Default is to use the existing disk.",
     "enum": [
      "RECREATE_DISK",
      "RECREATE_DISK_IF_SOURCE_CHANGED",
      "USE_EXISTING_DISK"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "provisionedIops": {
     "type": "string",
     "description": "Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. Values must be between 10,000 and 120,000. For more details, see the Extreme persistent disk documentation.",
     "format": "int64"
    },
    "replicaZones": {
     "type": "array",
     "description": "URLs of the zones where the disk should be replicated to. Only applicable for regional resources.",
     "items": {
      "type": "string"
     }
    },
    "resourcePolicies": {
     "type": "array",
     "description": "Resource policies applied to this disk for automatic snapshot creations. Specified using the full or partial URL. For instance template, specify only the resource policy name.",
     "items": {
      "type": "string"
     }
    },
    "sourceImage": {
     "type": "string",
     "description": "The source image to create this disk. When creating a new instance, one of initializeParams.sourceImage or initializeParams.sourceSnapshot or disks.source is required except for local SSD.\n\nTo create a disk with one of the public operating system images, specify the image by its family name. For example, specify family/debian-9 to use the latest Debian 9 image:\nprojects/debian-cloud/global/images/family/debian-9\n\n\nAlternatively, use a specific version of a public operating system image:\nprojects/debian-cloud/global/images/debian-9-stretch-vYYYYMMDD\n\n\nTo create a disk with a custom image that you created, specify the image name in the following format:\nglobal/images/my-custom-image\n\n\nYou can also specify a custom image by its image family, which returns the latest version of the image in that family. Replace the image name with family/family-name:\nglobal/images/family/my-image-family\n\n\nIf the source image is deleted later, this field will not be set."
    },
    "sourceImageEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "The customer-supplied encryption key of the source image. Required if the source image is protected by a customer-supplied encryption key.\n\nInstance templates do not store customer-supplied encryption keys, so you cannot create disks for instances in a managed instance group if the source images are encrypted with your own keys."
    },
    "sourceSnapshot": {
     "type": "string",
     "description": "The source snapshot to create this disk. When creating a new instance, one of initializeParams.sourceSnapshot or initializeParams.sourceImage or disks.source is required except for local SSD.\n\nTo create a disk with a snapshot that you created, specify the snapshot name in the following format:\nglobal/snapshots/my-backup\n\n\nIf the source snapshot is deleted later, this field will not be set."
    },
    "sourceSnapshotEncryptionKey": {
     "$ref": "CustomerEncryptionKey",
     "description": "The customer-supplied encryption key of the source snapshot."
    }
   }
  },
  "AuditConfig": {
   "id": "AuditConfig",
   "type": "object",
   "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n{ \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] }\n\nFor sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
   "properties": {
    "auditLogConfigs": {
     "type": "array",
     "description": "The configuration for logging of each type of permission.",
     "items": {
      "$ref": "AuditLogConfig"
     }
    },
    "exemptedMembers": {
     "type": "array",
     "description": "",
     "items": {
      "type": "string"
     }
    },
    "service": {
     "type": "string",
     "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
    }
   }
  },
  "AuditLogConfig": {
   "id": "AuditLogConfig",
   "type": "object",
   "description": "Provides the configuration for logging a type of permissions. Example:\n\n{ \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
   "properties": {
    "exemptedMembers": {
     "type": "array",
     "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of [Binding.members][].",
     "items": {
      "type": "string"
     }
    },
    "ignoreChildExemptions": {
     "type": "boolean",
     "description": ""
    },
    "logType": {
     "type": "string",
     "description": "The log type that this config enables.",
     "enum": [
      "ADMIN_READ",
      "DATA_READ",
      "DATA_WRITE",
      "LOG_TYPE_UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AuthenticationPolicy": {
   "id": "AuthenticationPolicy",
   "type": "object",
   "description": "[Deprecated] The authentication settings for the backend service. The authentication settings for the backend service.",
   "properties": {
    "origins": {
     "type": "array",
     "description": "List of authentication methods that can be used for origin authentication. Similar to peers, these will be evaluated in order the first valid one will be used to set origin identity. If none of these methods pass, the request will be rejected with authentication failed error (401). Leave the list empty if origin authentication is not required.",
     "items": {
      "$ref": "OriginAuthenticationMethod"
     }
    },
    "peers": {
     "type": "array",
     "description": "List of authentication methods that can be used for peer authentication. They will be evaluated in order the first valid one will be used to set peer identity. If none of these methods pass, the request will be rejected with authentication failed error (401). Leave the list empty if peer authentication is not required.",
     "items": {
      "$ref": "PeerAuthenticationMethod"
     }
    },
    "principalBinding": {
     "type": "string",
     "description": "Define whether peer or origin identity should be used for principal. Default value is USE_PEER. If peer (or origin) identity is not available, either because peer/origin authentication is not defined, or failed, principal will be left unset. In other words, binding rule does not affect the decision to accept or reject request. This field can be set to one of the following: USE_PEER: Principal will be set to the identity from peer authentication. USE_ORIGIN: Principal will be set to the identity from origin authentication.",
     "enum": [
      "INVALID",
      "USE_ORIGIN",
      "USE_PEER"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "serverTlsContext": {
     "$ref": "TlsContext",
     "description": "Configures the mechanism to obtain server-side security certificates and identity information."
    }
   }
  },
  "AuthorizationConfig": {
   "id": "AuthorizationConfig",
   "type": "object",
   "description": "[Deprecated] Authorization configuration provides service-level and method-level access control for a service. control for a service.",
   "properties": {
    "policies": {
     "type": "array",
     "description": "List of RbacPolicies.",
     "items": {
      "$ref": "RbacPolicy"
     }
    }
   }
  },
  "AuthorizationLoggingOptions": {
   "id": "AuthorizationLoggingOptions",
   "type": "object",
   "description": "Authorization-related information used by Cloud Audit Logging.",
   "properties": {
    "permissionType": {
     "type": "string",
     "description": "The type of the permission that was checked.",
     "enum": [
      "ADMIN_READ",
      "ADMIN_WRITE",
      "DATA_READ",
      "DATA_WRITE",
      "PERMISSION_TYPE_UNSPECIFIED"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "Autoscaler": {
   "id": "Autoscaler",
   "type": "object",
   "description": "Represents an Autoscaler resource.\n\nGoogle Compute Engine has two Autoscaler resources:\n\n* [Zonal](/compute/docs/reference/rest/{$api_version}/autoscalers) * [Regional](/compute/docs/reference/rest/{$api_version}/regionAutoscalers)\n\nUse autoscalers to automatically add or delete instances from a managed instance group according to your defined autoscaling policy. For more information, read Autoscaling Groups of Instances.\n\nFor zonal managed instance groups resource, use the autoscaler resource.\n\nFor regional managed instance groups, use the regionAutoscalers resource. (== resource_for {$api_version}.autoscalers ==) (== resource_for {$api_version}.regionAutoscalers ==)",
   "properties": {
    "autoscalingPolicy": {
     "$ref": "AutoscalingPolicy",
     "description": "The configuration parameters for the autoscaling algorithm. You can define one or more signals for an autoscaler: cpuUtilization, customMetricUtilizations, and loadBalancingUtilization.\n\nIf none of these are specified, the default will be to autoscale based on cpuUtilization to 0.6 or 60%."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#autoscaler for autoscalers.",
     "default": "compute#autoscaler"
    },
    "name": {
     "type": "string",
     "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
     "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
     "annotations": {
      "required": [
       "compute.autoscalers.insert"
      ]
     }
    },
    "recommendedSize": {
     "type": "integer",
     "description": "[Output Only] Target recommended MIG size (number of instances) computed by autoscaler. Autoscaler calculates the recommended MIG size even when the autoscaling policy mode is different from ON. This field is empty when autoscaler is not connected to an existing managed instance group or autoscaler did not generate its prediction.",
     "format": "int32"
    },
    "region": {
     "type": "string",
     "description": "[Output Only] URL of the region where the instance group resides (for autoscalers living in regional scope)."
    },
    "scalingScheduleStatus": {
     "type": "object",
     "description": "[Output Only] Status information of existing scaling schedules.",
     "additionalProperties": {
      "$ref": "ScalingScheduleStatus"
     }
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "selfLinkWithId": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource with the resource id."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the autoscaler configuration. Current set of possible values:  \n- PENDING: Autoscaler backend hasn't read new/updated configuration. \n- DELETING: Configuration is being deleted. \n- ACTIVE: Configuration is acknowledged to be effective. Some warnings might be present in the statusDetails field. \n- ERROR: Configuration has errors. Actionable for users. Details are present in the statusDetails field.  New values might be added in the future.",
     "enum": [
      "ACTIVE",
      "DELETING",
      "ERROR",
      "PENDING"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "statusDetails": {
     "type": "array",
     "description": "[Output Only] Human-readable details about the current state of the autoscaler. Read the documentation for Commonly returned status messages for examples of status messages you might encounter.",
     "items": {
      "$ref": "AutoscalerStatusDetails"
     }
    },
    "target": {
     "type": "string",
     "description": "URL of the managed instance group that this autoscaler will scale. This field is required when creating an autoscaler."
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] URL of the zone where the instance group resides (for autoscalers living in zonal scope)."
    }
   }
  },
  "AutoscalerAggregatedList": {
   "id": "AutoscalerAggregatedList",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "object",
     "description": "A list of AutoscalersScopedList resources.",
     "additionalProperties": {
      "$ref": "AutoscalersScopedList",
      "description": "[Output Only] Name of the scope containing this set of autoscalers."
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#autoscalerAggregatedList for aggregated lists of autoscalers.",
     "default": "compute#autoscalerAggregatedList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "unreachables": {
     "type": "array",
     "description": "[Output Only] Unreachable resources.",
     "items": {
      "type": "string"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AutoscalerList": {
   "id": "AutoscalerList",
   "type": "object",
   "description": "Contains a list of Autoscaler resources.",
   "properties": {
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server."
    },
    "items": {
     "type": "array",
     "description": "A list of Autoscaler resources.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of resource. Always compute#autoscalerList for lists of autoscalers.",
     "default": "compute#autoscalerList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for this resource."
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning message.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AutoscalerStatusDetails": {
   "id": "AutoscalerStatusDetails",
   "type": "object",
   "properties": {
    "message": {
     "type": "string",
     "description": "The status message."
    },
    "type": {
     "type": "string",
     "description": "The type of error, warning, or notice returned. Current set of possible values:  \n- ALL_INSTANCES_UNHEALTHY (WARNING): All instances in the instance group are unhealthy (not in RUNNING state). \n- BACKEND_SERVICE_DOES_NOT_EXIST (ERROR): There is no backend service attached to the instance group. \n- CAPPED_AT_MAX_NUM_REPLICAS (WARNING): Autoscaler recommends a size greater than maxNumReplicas. \n- CUSTOM_METRIC_DATA_POINTS_TOO_SPARSE (WARNING): The custom metric samples are not exported often enough to be a credible base for autoscaling. \n- CUSTOM_METRIC_INVALID (ERROR): The custom metric that was specified does not exist or does not have the necessary labels. \n- MIN_EQUALS_MAX (WARNING): The minNumReplicas is equal to maxNumReplicas. This means the autoscaler cannot add or remove instances from the instance group. \n- MISSING_CUSTOM_METRIC_DATA_POINTS (WARNING): The autoscaler did not receive any data from the custom metric configured for autoscaling. \n- MISSING_LOAD_BALANCING_DATA_POINTS (WARNING): The autoscaler is configured to scale based on a load balancing signal but the instance group has not received any requests from the load balancer. \n- MODE_OFF (WARNING): Autoscaling is turned off. The number of instances in the group won't change automatically. The autoscaling configuration is preserved. \n- MODE_ONLY_UP (WARNING): Autoscaling is in the \"Autoscale only out\" mode. The autoscaler can add instances but not remove any. \n- MORE_THAN_ONE_BACKEND_SERVICE (ERROR): The instance group cannot be autoscaled because it has more than one backend service attached to it. \n- NOT_ENOUGH_QUOTA_AVAILABLE (ERROR): There is insufficient quota for the necessary resources, such as CPU or number of instances. \n- REGION_RESOURCE_STOCKOUT (ERROR): Shown only for regional autoscalers: there is a resource stockout in the chosen region. \n- SCALING_TARGET_DOES_NOT_EXIST (ERROR): The target to be scaled does not exist. \n- UNSUPPORTED_MAX_RATE_LOAD_BALANCING_CONFIGURATION (ERROR): Autoscaling does not work with an HTTP/S load balancer that has been configured for maxRate. \n- ZONE_RESOURCE_STOCKOUT (ERROR): For zonal autoscalers: there is a resource stockout in the chosen zone. For regional autoscalers: in at least one of the zones you're using there is a resource stockout.  New values might be added in the future. Some of the values might not be available in all API versions.",
     "enum": [
      "ALL_INSTANCES_UNHEALTHY",
      "BACKEND_SERVICE_DOES_NOT_EXIST",
      "CAPPED_AT_MAX_NUM_REPLICAS",
      "CUSTOM_METRIC_DATA_POINTS_TOO_SPARSE",
      "CUSTOM_METRIC_INVALID",
      "MIN_EQUALS_MAX",
      "MISSING_CUSTOM_METRIC_DATA_POINTS",
      "MISSING_LOAD_BALANCING_DATA_POINTS",
      "MODE_OFF",
      "MODE_ONLY_SCALE_OUT",
      "MODE_ONLY_UP",
      "MORE_THAN_ONE_BACKEND_SERVICE",
      "NOT_ENOUGH_QUOTA_AVAILABLE",
      "REGION_RESOURCE_STOCKOUT",
      "SCALING_TARGET_DOES_NOT_EXIST",
      "SCHEDULED_INSTANCES_GREATER_THAN_AUTOSCALER_MAX",
      "SCHEDULED_INSTANCES_LESS_THAN_AUTOSCALER_MIN",
      "UNKNOWN",
      "UNSUPPORTED_MAX_RATE_LOAD_BALANCING_CONFIGURATION",
      "ZONE_RESOURCE_STOCKOUT"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
     ]
    }
   }
  },
  "AutoscalersScopedList": {
   "id": "AutoscalersScopedList",
   "type": "object",
   "properties": {
    "autoscalers": {
     "type": "array",
     "description": "[Output Only] A list of autoscalers contained in this scope.",
     "items": {
      "$ref": "Autoscaler"
     }
    },
    "warning": {
     "type": "object",
     "description": "[Output Only] Informational warning which replaces the list of autoscalers when the list is empty.",
     "properties": {
      "code": {
       "type": "string",
       "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
       "enum": [
        "CLEANUP_FAILED",
        "DEPRECATED_RESOURCE_USED",
        "DEPRECATED_TYPE_USED",
        "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
        "EXPERIMENTAL_TYPE_USED",
        "EXTERNAL_API_WARNING",
        "FIELD_VALUE_OVERRIDEN",
        "INJECTED_KERNELS_DEPRECATED",
        "LARGE_DEPLOYMENT_WARNING",
        "MISSING_TYPE_DEPENDENCY",
        "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
        "NEXT_HOP_CANNOT_IP_FORWARD",
        "NEXT_HOP_INSTANCE_NOT_FOUND",
        "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
        "NEXT_HOP_NOT_RUNNING",
        "NOT_CRITICAL_ERROR",
        "NO_RESULTS_ON_PAGE",
        "PARTIAL_SUCCESS",
        "REQUIRED_TOS_AGREEMENT",
        "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
        "RESOURCE_NOT_DELETED",
        "SCHEMA_VALIDATION_IGNORED",
        "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
        "UNDECLARED_PROPERTIES",
        "UNREACHABLE"
       ],
       "enumDescriptions": [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        ""
       ]
      },
      "data": {
       "type": "array",
       "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
       "items": {
        "type": "object",
        "properties": {
         "key": {
          "type": "string",
          "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
         },
         "value": {
          "type": "string",
          "description": "[Output Only] A warning data value corresponding to the key."
         }
        }
       }
      },
      "message": {
       "type": "string",
       "description": "[Output Only] A human-readable description of the warning code."
      }
     }
    }
   }
  },
  "AutoscalingPolicy": {
   "id": "AutoscalingPolicy",
   "type": "object",
   "description": "Cloud Autoscaler policy.",
   "properties": {
    "coolDownPeriodSec": {
     "type": "integer",
     "description": "The number of seconds that the autoscaler waits before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. The default time autoscaler waits is 60 seconds.\n\nVirtual machine initialization times might vary because of numerous factors. We recommend that you test how long an instance may take to initialize. To do this, create an instance and time the startup process.",
     "format": "int32"
    },
    "cpuUtilization": {
     "$ref": "AutoscalingPolicyCpuUtilization",
     "description": "Defines the CPU utilization policy that allows the autoscaler to scale based on the average CPU utilization of a managed instance group."
    },
    "customMetricUtilizations": {
     "type": "array",
     "description": "Configuration parameters of autoscaling based on a custom metric.",
     "items": {
      "$ref": "AutoscalingPolicyCustomMetricUtilization"
     }
    },
    "loadBalancingUtilization": {
     "$ref": "AutoscalingPolicyLoadBalancingUtilization",
     "description": "Configuration parameters of autoscaling based on load balancer."
    },
    "maxNumReplicas": {
     "type": "integer",
     "description": "The maximum number of instances that the autoscaler can scale out to. This is required when creating or updating an autoscaler. The maximum number of replicas must not be lower than minimal number of replicas.",
     "format": "int32"
    },
    "minNumReplicas": {
     "type": "integer",
     "description": "The minimum number of replicas that the autoscaler can scale in to. This cannot be less than 0. If not provided, autoscaler chooses a default value depending on maximum number of instances allowed.",
     "format": "int32"
    },
    "mode": {
     "type": "string",
     "description": "Defines operating mode for this policy.",
     "enum": [
      "OFF",
      "ON",
      "ONLY_SCALE_OUT",
      "ONLY_UP"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "scaleDownControl": {
     "$ref": "AutoscalingPolicyScaleDownControl"
    },
    "scaleInControl": {
     "$ref": "AutoscalingPolicyScaleInControl"
    },
    "scalingSchedules": {
     "type": "object",
     "description": "Scaling schedules defined for an autoscaler. Multiple schedules can be set on an autoscaler, and they can overlap. During overlapping periods the greatest min_required_replicas of all scaling schedules is applied. Up to 128 scaling schedules are allowed.",
     "additionalProperties": {
      "$ref": "AutoscalingPolicyScalingSchedule"
     }
    }
   }
  },
  "AutoscalingPolicyCpuUtilization": {
   "id": "AutoscalingPolicyCpuUtilization",
   "type": "object",
   "description": "CPU utilization policy.",
   "properties": {
    "predictiveMethod": {
     "type": "string",
     "description": "Indicates whether predictive autoscaling based on CPU metric is enabled. Valid values are:\n\n* NONE (default). No predictive method is used. The autoscaler scales the group to meet current demand based on real-time metrics. * OPTIMIZE_AVAILABILITY. Predictive autoscaling improves availability by monitoring daily and weekly load patterns and scaling out ahead of anticipated demand.",
     "enum": [
      "NONE",
      "OPTIMIZE_AVAILABILITY",
      "PREDICTIVE_METHOD_UNSPECIFIED",
      "STANDARD"
     ],
     "enumDescriptions": [
      "",
      "",
      "",
      ""
     ]
    },
    "utilizationTarget": {
     "type": "number",
     "description": "The target CPU utilization that the autoscaler maintains. Must be a float value in the range (0, 1]. If not specified, the default is 0.6.\n\nIf the CPU level is below the target utilization, the autoscaler scales in the number of instances until it reaches the minimum number of instances you specified or until the average CPU of your instances reaches the target utilization.\n\nIf the average CPU is above the target utilization, the autoscaler scales out until it reaches the maximum number of instances you specified or until the average utilization reaches the target utilization.",
     "format": "double"
    }
   }
  },
  "AutoscalingPolicyCustomMetricUtilization": {
   "id": "AutoscalingPolicyCustomMetricUtilization",
   "type": "object",
   "description": "Custom utilization metric policy.",
   "properties": {
    "filter": {
     "type": "string",
     "description": "A filter string, compatible with a Stackdriver Monitoring filter string for TimeSeries.list API call. This filter is used to select a specific TimeSeries for the purpose of autoscaling and to determine whether the metric is exporting per-instance or per-group data.\n\nFor the filter to be valid for autoscaling purposes, the following rules apply:  \n- You can only use the AND operator for joining selectors. \n- You can only use direct equality comparison operator (=) without any functions for each selector. \n- You can specify the metric in both the filter string and in the metric field. However, if specified in both places, the metric must be identical. \n- The monitored resource type determines what kind of values are expected for the metric. If it is a gce_instance, the autoscaler expects the metric to include a separate TimeSeries for each instance in a group. In such a case, you cannot filter on resource labels.\nIf the resource type is any other value, the autoscaler expects this metric to contain values that apply to the entire autoscaled instance group and resource label filtering can be performed to point autoscaler at the correct TimeSeries to scale upon. This is called a per-group metric for the purpose of autoscaling.\n\nIf not specified, the type defaults to gce_instance.  \n\nTry to provide a filter that is selective enough to pick just one TimeSeries for the autoscaled group or for each of the instances (if you are using gce_instance resource type). If multiple TimeSeries are returned upon the query execution, the autoscaler will sum their respective values to obtain its scaling value."
    },
    "metric": {
     "type": "string",
     "description": "The identifier (type) of the Stackdriver Monitoring metric. The metric cannot have negative values.\n\nThe metric must have a value type of INT64 or DOUBLE."
    },
    "singleInstanceAssignment": {
     "type": "number",
     "description": "If scaling is based on a per-group metric value that represents the total amount of work to be done or resource usage, set this value to an amount assigned for a single instance of the scaled group. Autoscaler keeps the number of instances proportional to the value of this metric. The metric itself does not change value due to group resizing.\n\nA good metric to use with the target is for example pubsub.googleapis.com/subscription/num_undelivered_messages or a custom metric exporting the total number of requests coming to your instances.\n\nA bad example would be a metric exporting an average or median latency, since this value can't include a chunk assignable to a single instance, it could be better used with utilization_target instead.",
     "format": "double"
    },
    "utilizationTarget": {
     "type": "number",
     "description": "The target value of the metric that autoscaler maintains. This must be a positive value. A utilization metric scales number of virtual machines handling requests to increase or decrease proportionally to the metric.\n\nFor example, a good metric to use as a utilization_target is https://www.googleapis.com/compute/v1/instance/network/received_bytes_count. The autoscaler works to keep this value constant for each of the instances.",
     "format": "double"
    },
    "utilizationTargetType": {
     "type": "string",
     "description": "Defines how target utilization value is expressed for a Stackdriver Monitoring metric. Either GAUGE, DELTA_PER_SECOND, or DELTA_PER_MINUTE.",
     "enum": [
      "DELTA_PER_MINUTE",
      "DELTA_PER_SECOND",
      "GAUGE"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    }
   }
  },
  "AutoscalingPolicyLoadBalancingUtilization": {
   "id": "AutoscalingPolicyLoadBalancingUtilization",
   "type": "object",
   "description": "Configuration parameters of autoscaling based on load balancing.",
   "properties": {
    "utilizationTarget": {
     "type": "number",
     "description": "Fraction of backend capacity utilization (set in HTTP(S) load balancing configuration) that the autoscaler maintains. Must be a positive float value. If not defined, the default is 0.8.",
     "format": "double"
    }
   }
  },
  "AutoscalingPolicyScaleDownControl": {
   "id": "AutoscalingPolicyScaleDownControl",
   "type": "object",
   "description": "Configuration that allows for slower scale in so that even if Autoscaler recommends an abrupt scale in of a MIG, it will be throttled as specified by the parameters below.",
   "properties": {
    "maxScaledDownReplicas": {
     "$ref": "FixedOrPercent",
     "description": "Maximum allowed number (or %) of VMs that can be deducted from the peak recommendation during the window autoscaler looks at when computing recommendations. Possibly all these VMs can be deleted at once so user service needs to be prepared to lose that many VMs in one step."
    },
    "timeWindowSec": {
     "type": "integer",
     "description": "How far back autoscaling looks when computing recommendations to include directives regarding slower scale in, as described above.",
     "format": "int32"
    }
   }
  },
  "AutoscalingPolicyScaleInControl": {
   "id": "AutoscalingPolicyScaleInControl",
   "type": "object",
   "description": "Configuration that allows for slower scale in so that even if Autoscaler recommends an abrupt scale in of a MIG, it will be throttled as specified by the parameters below.",
   "properties": {
    "maxScaledInReplicas": {
     "$ref": "FixedOrPercent",
     "description": "Maximum allowed number (or %) of VMs that can be deducted from the peak recommendation during the window autoscaler looks at when computing recommendations. Possibly all these VMs can be deleted at once so user service needs to be prepared to lose that many VMs in one step."
    },
    "timeWindowSec": {
     "type": "integer",
     "description": "How far back autoscaling looks when computing recommendations to include directives regarding slower scale in, as described above.",
     "format": "int32"
    }
   }
  },
  "AutoscalingPolicyScalingSchedule": {
   "id": "AutoscalingPolicyScalingSchedule",
   "type": "object",
   "description": "Scaling based on user-defined schedule. The message describes a single scaling schedule. A scaling schedule changes the minimum number of VM instances an autoscaler can recommend, which can trigger scaling out.",
   "properties": {
    "description": {
     "type": "string",
     "description": "A description of a scaling schedule."
    },
    "disabled": {
     "type": "boolean",
     "description": "A boolean value that specifies whether a scaling schedule can influence autoscaler recommendations. If set to true, then a scaling schedule has no effect. This field is optional, and its value is false by default."
    },
    "durationSec": {
     "type": "integer",
     "description": "The duration of time intervals, in seconds, for which this scaling schedule is to run. The minimum allowed value is 300. This field is required.",
     "format": "int32"
    },
    "minRequiredReplicas": {
     "type": "integer",
     "description": "The minimum number of VM instances that the autoscaler will recommend in time intervals starting according to schedule. This field is required.",
     "format": "int32"
    },
    "schedule": {
     "type": "string",
     "description": "The start timestamps of time intervals when this scaling schedule is to provide a scaling signal. This field uses the extended cron format (with an optional year field). The expression can describe a single timestamp if the optional year is set, in which case the scaling schedule runs once. The schedule is interpreted with respect to time_zone. This field is required. Note: These timestamps only describe when autoscaler starts providing the scaling signal. The VMs need additional time to become serving."
    },
    "timeZone": {
     "type": "string",
     "description": "The time zone to use when interpreting the schedule. The value of this field must be a time zone name from the tz database: http://en.wikipedia.org/wiki/Tz_database. This field is assigned a default value of ?UTC? if left empty."
    }
   }
  },
  "Backend": {
   "id": "Backend",
   "type": "object",
   "description": "Message containing information of one individual backend.",
   "properties": {
    "balancingMode": {
     "type": "string",
     "description": "Specifies how to determine whether the backend of a load balancer can handle additional traffic or is fully loaded. For usage guidelines, see  Connection balancing mode.\n\nBackends must use compatible balancing modes. For more information, see  Supported balancing modes and target capacity settings and  Restrictions and guidance for instance groups.\n\nNote: Currently, if you use the API to configure incompatible balancing modes, the configuration might be accepted even though it has no impact and is ignored. Specifically, Backend.maxUtilization is ignored when Backend.balancingMode is RATE. In the future, this incompatible combination will be rejected.",
     "enum": [
      "CONNECTION",
      "RATE",
      "UTILIZATION"
     ],
     "enumDescriptions": [
      "",
      "",
      ""
     ]
    },
    "capacityScaler": {
     "type": "number",
     "description": "A multiplier applied to the backend's target capacity of its balancing mode. The default value is 1, which means the group serves up to 100% of its configured capacity (depending on balancingMode). A setting of 0 means the group is completely drained, offering 0% of its available capacity. The valid ranges are 0.0 and [0.1,1.0]. You cannot configure a setting larger than 0 and smaller than 0.1. You cannot configure a setting of 0 when there is only one backend attached to the backend service.",
     "format": "float"
    },
    "description": {
     "type": "string",
     "description": "An optional description of this resource. Provide this property when you create the resource."
    },
    "failover": {
     "type": "boolean",
     "description": "This field designates whether this is a failover backend. More than one failover backend can be configured for a given BackendService."
    },
    "group": {
     "type": "string",
[...]
