<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net45" />
  <package id="Grpc" version="0.5.1" targetFramework="net45" />
  <package id="Grpc.Core" version="0.5.1" targetFramework="net45" />
  <package id="grpc.dependencies.openssl.redist" version="1.0.2.2" targetFramework="net45" />
  <package id="grpc.dependencies.zlib.redist" version="1.2.8.9" targetFramework="net45" />
  <package id="grpc.native.csharp_ext" version="0.9.1" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1-beta2" targetFramework="net45" />
</packages>