<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.0.0-beta3" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net45" />
  <package id="NUnit" version="3.2.0" targetFramework="net45" />
  <package id="NUnitLite" version="3.2.0" targetFramework="net45" />
</packages>