<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>redacted</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>redacted</string>
	<key>CLIENT_ID</key>
	<string>15087385131-lh9bpkiai9nls53uadju0if6k7un3uih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15087385131-lh9bpkiai9nls53uadju0if6k7un3uih</string>
	<key>API_KEY</key>
	<string>redacted</string>
	<key>GCM_SENDER_ID</key>
	<string>redacted</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.grpc.AuthSample</string>
	<key>PROJECT_ID</key>
	<string>grpc-authsample</string>
	<key>STORAGE_BUCKET</key>
	<string>grpc-authsample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:15087385131:ios:d547168abe3c362f</string>
	<key>DATABASE_URL</key>
	<string>https://grpc-authsample.firebaseio.com</string>
</dict>
</plist>
