%YAML 1.2
--- |
  {
    <%include file="../build_options.include" args="executable=False"/>
    "dependencies": {
      "Grpc.Core": {
        "target": "project"
      },
      "Google.Protobuf": "3.2.0"
    },
    "frameworks": {
      "net45": {},
      "netcoreapp1.0": {
        "dependencies": {
          "Microsoft.NETCore.App": {
            "type": "platform",
            "version": "1.0.0"
          }
        }
      }
    }
  }
