<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.grpc.binder.cpp.exampleclient"
    android:versionCode="1"
    android:versionName="1.0" >

  <uses-sdk
      android:minSdkVersion="29"
      android:targetSdkVersion="30" />

   <queries>
      <package android:name="io.grpc.binder.cpp.exampleserver" />
   </queries>

  <application
      android:label="gRPC BinderTransport Client Cpp">
    <activity
        android:name=".MainActivity"
        android:label="gRPC BinderTransport Client Cpp" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
