# C/C++ build outputs
bins
gens
libs
objs

# Python virtual environments
python*_virtual_environment

# gcov coverage data
reports
coverage
*.gcno

# profiler output
*.prof

# python compiled objects
*.pyc

#eclipse project files
.cproject
.project
.settings

# cache for run_tests.py
.run_tests_cache

# emacs temp files
*~

# vim temp files
.*.swp

# Makefile's cache
cache.mk

# Temporary test reports
report.xml
latency_trace.txt

# port server log
portlog.txt

# gyp generated make files
*-gyp.mk
out

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.DS_Store
