language: cpp
before_install:
  - sudo add-apt-repository ppa:yjwong/gflags -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq libgtest-dev libgflags-dev python-all-dev python-pip python-virtualenv
script:
  - make clean
  - ./tools/run_tests/run_tests.py -l c -t -j 16 -c opt
  - ./tools/run_tests/run_tests.py -l python -t -j 16 -c opt
notifications:
  email: false
