language: cpp
before_install:
  - sudo add-apt-repository ppa:yjwong/gflags -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq libgtest-dev libgflags-dev python-virtualenv
env:
  global:
    - RUBY_VERSION=2.1
  matrix:
    - CONFIG=dbg TEST=c
    - CONFIG=dbg TEST=c++
    - CONFIG=opt TEST=c
    - CONFIG=opt TEST=c++
    - CONFIG=opt TEST=node
    - CONFIG=opt TEST=ruby
script:
  - rvm use $RUBY_VERSION
  - gem install bundler
  - ./tools/run_tests/run_tests.py -l $TEST -t -j 16 -c $CONFIG -s 2.0
notifications:
  email: false