[project]
	description = gRPC
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group grpc-owners
	owner = group user/Nicolas Noble (nicolasnoble)
[access "refs/for/refs/*"]
	read = group user/Nicolas Noble (nicolasnoble)
	push = group user/Nicolas Noble (nicolasnoble)
	label-Code-Review = -2..+2 group user/Nicolas Noble (nicolasnoble)
	label-Verified = -1..+1 group user/Nicolas Noble (nicolasnoble)
	rebase = group user/Nicolas Noble (nicolasnoble)
	removeReviewer = group user/Nicolas Noble (nicolasnoble)
	submit = group user/Nicolas Noble (nicolasnoble)
[access "refs/heads/*"]
	read = group user/Nicolas Noble (nicolasnoble)
	create = group user/Nicolas Noble (nicolasnoble)
	push = +force group user/Nicolas Noble (nicolasnoble)
	pushMerge = group user/Nicolas Noble (nicolasnoble)
[access "refs/tags/*"]
	push = +force group user/Nicolas Noble (nicolasnoble)
	pushTag = group user/Nicolas Noble (nicolasnoble)
	pushSignedTag = group user/Nicolas Noble (nicolasnoble)
