# See https://docs.astral.sh/ruff/configuration/
# For a full list of supported rules, see https://docs.astral.sh/ruff/rules/
# For a full list of options, see https://docs.astral.sh/ruff/settings/

# Same as Black.
line-length = 100
target-version = "py39"

[lint]
ignore = [
    "FA100", # Checks for missing from __future__ import annotations
    # imports upon detecting type annotations that can be written more succinctly under PEP 563.

    "TD003", # TD003 Missing issue link for this TODO
    "TD004", # Checks that a "TODO" tag is followed by a colon.
    "FIX002", # Checks for "TODO" comments.
    "FIX004", # Checks for "HACK" comments.

    "ANN401", # Checks that function arguments are annotated with a more specific type than Any.

    "S105", # Checks for potential uses of hardcoded passwords in strings.

    "BLE001", # Checks for except clauses that catch all exceptions. This includes bare except, except BaseException and except Exception.

    "PLR0913", # Checks for function definitions that include too many arguments.
    "PERF203", # Checks for uses of except handling via try-except within for and while loops.

    "SLF001", # Checks for accesses on "private" class members.

    "I001", # De-duplicates, groups, and sorts imports based on the provided isort settings.
    # This conflicts with isort

    "TRY400", # Checks for uses of logging.error instead of logging.exception when logging an exception.

    "D401", # Checks for docstring first lines that are not in an imperative mood.
    "D404", # Checks for docstrings that start with This.
    "D205", # Checks for docstring summary lines that are not separated from the docstring description by one blank line.
    "D400", # Checks for docstrings in which the first line does not end in a period.
    "D415", # Checks for docstrings in which the first line does not end in a punctuation mark, such as a period, 
    # question mark, or exclamation point.

    "FBT001", # Checks for the use of boolean positional arguments in function definitions, 
    # as determined by the presence of a type hint containing bool as an evident subtype - e.g. bool, bool | int, typing.Optional[bool], etc.

    "FBT002", # Checks for the use of boolean positional arguments in function definitions, as determined by the presence of a boolean default value.
]

# This is to suppress
# https://docs.astral.sh/ruff/rules/non-pep585-annotation/
# https://docs.astral.sh/ruff/rules/non-pep604-annotation-union/#non-pep604-annotation-union-up007
pyupgrade.keep-runtime-typing = true

# Select all rules by default, and then ignore the ones we don't want.
# This is a good way to stay up-to-date with new rules in ruff.
select = ["ALL"]

# Allow unused variables that match these patterns.
dummy-variable-rgx = "^(_+|ignored_)"

[format]
# Like Black, use double quotes for strings.
quote-style = "double"
# Like Black, indent with 4 spaces.
indent-style = "space"