/* Start ZH-TW locale-specific CSS */
body
{
	font-family: MS JhengHei, MingLiU, Segoe UI, Verdana, Arial;
}
pre
{
  font-family: Consolas, Courier, monospace, 細明體;
}
span.tt
{
  font-family: Consolas, Courier, monospace, 細明體;
}
span.code
{
	font-family: Consolas, Courier, monospace, 細明體;
}
/* End locale-specific CSS */
