/* Start ZH-CN locale-specific CSS */
body
{
    font-family: "Microsoft YaHei UI","Microsoft YaHei","SimSun","Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif
}
pre
{
    font-family: Consolas, Courier, monospace!important;
}
span.tt
{
    font-family: Consolas, Courier, monospace;
}
span.code
{
    font-family: Consolas, Courier, monospace;
}
/* End locale-specific CSS */
