/* Start KO-KR locale-specific CSS */
body
{
	font-family: Malgun Gothic, Segoe UI, Verdana, Arial;
	font-size: 0.75em; /*9pt*/
}
pre
{
  font-family: Consolas, Courier, monospace, 돋움체;
}
span.tt
{
  font-family: Consolas, Courier, monospace, 돋움체;
}
span.code
{
	font-family: Consolas, Courier, monospace, 돋움체;
}
/* End locale-specific CSS */
