<%!
  import re
%>\
<%def name="to_windows_path(path)">${path.replace('/','\\')}</%def>\
<%
  allowed_dependencies = set(['gpr', 'grpc', 'gpr_test_util', 'grpc_test_util'])
  test_targets = [ target for target in targets if target.name.endswith('_test') and set(target.deps).issubset(allowed_dependencies)]
  test_bin_dir = 'test_bin'
%>\
@rem Build and runs unit all unit tests

@rem Set VS variables
@call "%VS120COMNTOOLS%\..\..\vc\vcvarsall.bat" x86

@rem Build the library dependencies first
MSBuild.exe gprc_test_util.vcxproj /p:Configuration=Debug

mkdir ${test_bin_dir}

% for target in test_targets:
echo Building ${target.name}
cl.exe /c /I..\.. /I..\..\include /nologo /Z7 /W3 /WX- /sdl /D WIN32 /D _LIB /D _USE_32BIT_TIME_T /D _UNICODE /D UNICODE /EHsc /RTC1 /MDd /GS /fp:precise /Zc:wchar_t /Zc:forScope /Gd /TC /analyze- /Fo:${test_bin_dir}\ \
%for source in target.src:
..\..\${to_windows_path(source)} \
%endfor

link.exe /DEBUG /OUT:"${test_bin_dir}\${target.name}.exe" /INCREMENTAL /NOLOGO /SUBSYSTEM:CONSOLE /TLBID:1 /DYNAMICBASE /NXCOMPAT /MACHINE:X86 \
%for dep in target.deps:
Debug\${dep}.lib \
%endfor
%for source in target.src:
${test_bin_dir}\${re.search('([^/]+)\.c$', source).group(1)}.obj \
%endfor

echo(
echo Running test ${target.name}
${test_bin_dir}\${target.name}.exe || echo TEST FAILED: ${target.name} && exit /b
echo(

% endfor