%YAML 1.2
--- |
  {
    <%include file="../build_options.include" args="executable=True,includeData=True"/>
    "dependencies": {
      "Grpc.IntegrationTesting": {
        "target": "project"
      }
    },
    "frameworks": {
      "net45": { },
      "netcoreapp1.0": {
        "imports": [
          "portable-net45"
        ],
        "dependencies": {
          "Microsoft.NETCore.App": {
            "type": "platform",
            "version": "1.0.0"
          }
        }
      }
    }
  }
