%YAML 1.2
--- |
  {
    <%include file="../build_options.include" args="executable=True,includeData=True"/>
    "dependencies": {
      "Grpc.IntegrationTesting": {
        "target": "project"
      }
    },
    "frameworks": {
      "net45": { },
      "netstandard1.5": {
        "imports": [
          "portable-net45",
          "net45"
        ],
        "dependencies": {
          "NETStandard.Library": "1.5.0-rc2-24027"
        }
      }
    }
  }
