<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.0.0-beta2" targetFramework="net45" />
  <package id="Grpc" version="0.14.0" targetFramework="net45" />
  <package id="Grpc.Core" version="0.14.0" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net45" />
</packages>