Package: libgrpc-dev
Version: 0.8.0
Architecture: amd64
Maintainer: Jan Tattermusch <jtattermusch@google.com>
Section: libdevel
Priority: optional
Homepage: https://github.com/grpc/grpc
Description: gRPC C Core - header files
  Core C libraries for gRPC - An RPC library and framework.
