<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="grpc.dependencies.zlib" version="1.2.8.10" targetFramework="Native" />
  <package id="grpc.dependencies.zlib.redist" version="1.2.8.10" targetFramework="Native" />
  <package id="grpc.dependencies.openssl" version="1.0.204.1" targetFramework="Native" />
  <package id="grpc.dependencies.openssl.redist" version="1.0.204.1" targetFramework="Native" />
  <package id="gflags" version="2.1.2.1" targetFramework="Native" />
  <package id="gtest" version="1.7.0.1" targetFramework="Native" />
</packages>

