<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net45" />
  <package id="Grpc" version="2.23.0" targetFramework="net45" />
  <package id="Grpc.Core" version="2.23.0" targetFramework="net45" />
  <package id="Grpc.Core.Api" version="2.23.0" targetFramework="net45" />
  <package id="Grpc.Tools" version="1.17.0" targetFramework="net45" developmentDependency="true" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.3" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
</packages>