%YAML 1.2
--- |
  {
    <%include file="../build_options.include" args="executable=True"/>
    "dependencies": {
      "Grpc.Core": {
        "target": "project"
      },
      "Newtonsoft.Json": "8.0.3",
      "NUnit": "3.2.0",
      "NUnitLite": "3.2.0-*",
      "NUnit.ConsoleRunner": "3.2.0",
      "OpenCover": "4.6.519",
      "ReportGenerator": "2.4.4.0"
    },
    "frameworks": {
      "net45": { },
      "netcoreapp1.0": {
        "imports": [
          "portable-net45"
        ],
        "dependencies": {
          "Microsoft.NETCore.App": {
            "type": "platform",
            "version": "1.0.0"
          }
        }
      }
    },
  }
