%YAML 1.2
--- |
  <%!
  import json
  %>

  ${json.dumps([{"name": tgt.name,
                 "language": tgt.language,
                 "platforms": tgt.platforms,
                 "ci_platforms": tgt.ci_platforms,
                 "gtest": tgt.gtest,
                 "exclude_configs": tgt.get("exclude_configs", []),
                 "args": [],
                 "flaky": tgt.flaky,
                 "cpu_cost": tgt.get("cpu_cost", 1.0)}
                for tgt in targets
                if tgt.get('run', True) and tgt.build == 'test'] +
                tests,
               sort_keys=True, indent=2)}
