%YAML 1.2
--- |
  <%!
  import json
  %>
  
  ${json.dumps([{"name": tgt.name,
                 "language": tgt.language,
                 "platforms": tgt.platforms,
                 "ci_platforms": tgt.ci_platforms,
  	       "exclude_configs": tgt.get("exclude_configs", []),
                 "flaky": tgt.flaky}
                for tgt in targets
                if tgt.get('run', True) and tgt.build == 'test'],
               sort_keys=True, indent=2)}
