Mako~=1.1
PyYAML~=6.0
absl-py~=0.11
google-api-python-client~=1.12
google-cloud-secret-manager~=2.1
grpcio~=1.57
grpcio-health-checking~=1.57
grpcio-tools~=1.57
grpcio-channelz~=1.57
kubernetes~=27.2
six~=1.13
tenacity~=6.2
packaging~=23.1
Pygments~=2.9
python-dateutil~=2.8
protobuf~=4.24
xds-protos @ https://storage.googleapis.com/grpc-testing-kokoro-prod/test_result_public/prod/grpc/core/master/linux/release/grpc_collect_all_packages/982/20230824-122525/github/grpc/artifacts/xds_protos-1.58.0rc1-py3-none-any.whl
