Mako~=1.1
PyYAML~=6.0
absl-py~=0.11
google-api-python-client~=1.12
google-cloud-secret-manager~=2.1
grpcio~=1.34
grpcio-health-checking~=1.34
grpcio-tools~=1.34
grpcio-channelz~=1.34
kubernetes~=27.2
six~=1.13
tenacity~=6.2
packaging~=23.1
Pygments~=2.9
python-dateutil~=2.8
protobuf~=3.14
xds-protos~=0.0.8
