%YAML 1.2
--- |
  {
    "name": "grpc/grpc-dev",
    "description": "gRPC library for PHP - for Developement use only",
    "license": "Apache-2.0",
    "version": "${settings.php_version.php_composer()}",
    "require": {
      "php": ">=5.5.0",
      "google/protobuf": "^v3.3.0"
    },
    "require-dev": {
      "google/auth": "v0.9"
    },
    "autoload": {
      "psr-4": {
        "Grpc\\": "lib/Grpc/",
        "": ["tests/interop/",
             "tests/generated_code/"]
      }
    }
  }
