<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="zlib" version="1.2.8.7" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.7" targetFramework="Native" />
</packages>