[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = leafcert.example.com

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, serverAuth
basicConstraints = critical, CA:false
subjectAltName = @alt_names

[alt_names]
URI = spiffe://trust-domain/path
DNS = leafcert.example.com