.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/

*.iml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
/*/build/
local.properties
proguard/
*.log
