<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Globalization"/>
				<add namespace="System.IO"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Script.Serialization"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Xml"/>
				<add namespace="System.Xml.Serialization" />
				<add namespace="System.Xml.XPath"/>
			</namespaces>
		</pages>
	</system.web>
	<appSettings>
		<!-- Increase this value if you get an "Operation is not valid due to the current state of the object" error
		     when using the search page. -->
		<add key="aspnet:MaxJsonDeserializerMembers" value="100000" />
	</appSettings>
</configuration>
