--resource_prefix=xds-k8s-security
--td_bootstrap_image=gcr.io/grpc-testing/td-grpc-bootstrap:2558ec79df06984ed0d37e9e69f34688ffe301bb
--logger_levels=__main__:DEBUG,framework:INFO
--verbosity=0
# Google projects: remove if console.cloud.google.com redirects to Logs Explorer
# ref: https://github.com/grpc/grpc/pull/26844#discussion_r680224772
--gcp_ui_url=pantheon.corp.google.com
