# Copy to local-dev.cfg
# Local dev settings
--flagfile=config/grpc-testing.cfg
--kube_context=gke_rbellevi-gke-dev_us-central1-a_rbellevi-interop1
# Test images
--server_image=gcr.io/grpc-testing/xds-k8s-test-server-java:latest
# --client_image=gcr.io/grpc-testing/xds-k8s-test-client-java:latest
# Enable port forwarding in local dev
--debug_use_port_forwarding
# (convenience) Allow to set always known flags
--undefok=private_api_key_secret_name
