# Copy to local-dev.cfg; replace ${UPPERCASED_VARS} with your settings.
# Usage: python -m tests.baseline_test --flagfile=config/local-dev.cfg
# Alt usage: ./run.sh tests/baseline_test.py

# Import common settings
--flagfile=config/common.cfg

# Project settings
--project=${PROJECT_ID}
--gcp_service_account=${WORKLOAD_SA_EMAIL}
--private_api_key_secret_name=projects/${PROJECT_NUMBER}/secrets/xds-interop-tests-private-api-access-key
# Uncomment to ensure the allow health check firewall exists before test case runs
# --ensure_firewall
# Uncomment if the health check port opened in firewall is different than 8080
# --server_port=50051

# Use a resource prefix to describe usage and ownership
--resource_prefix=xds-k8s-test

# Use predictable resource suffix to simplify debugging
# If left blank, the framework will randomly generate one
--resource_suffix=dev

# The name of kube context to use. See `gcloud container clusters get-credentials` and `kubectl config`
--kube_context=${KUBE_CONTEXT}

# Test images, f.e. java v1.46.x:
--server_image=gcr.io/grpc-testing/xds-interop/java-server:v1.46.x
--client_image=gcr.io/grpc-testing/xds-interop/java-client:v1.46.x

# Uncomment for verbose output
#--logger_levels=__main__:DEBUG,framework:DEBUG
#--verbosity=1

# Enable port forwarding in local dev
--debug_use_port_forwarding
# (convenience) Allow to set always known flags
--undefok=private_api_key_secret_name
