<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.2.0" targetFramework="net45" />
  <package id="NUnitLite" version="3.2.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.2.0" />
  <package id="OpenCover" version="4.6.519" />
  <package id="ReportGenerator" version="2.4.4.0" />
</packages>
