../../../dist/grpcio-1.74.0.dev0-cp312-cp312-linux_x86_64.whl ; sys.platform == "linux" and platform.machine == "x86_64"
../../../dist/grpcio-1.74.0.dev0-cp312-cp312-macosx_15_0_x86_64.whl ; sys.platform == "darwin" and platform.machine == "x86_64"
grpcio-tools==1.72.1
