---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${deployment_name}
  namespace: ${namespace_name}
  labels:
    app: ${deployment_name}
    deployment_id: ${deployment_id}
    owner: xds-k8s-interop-test
spec:
  replicas: ${replica_count}
  selector:
    matchLabels:
      app: ${deployment_name}
      deployment_id: ${deployment_id}
  template:
    metadata:
      labels:
        app: ${deployment_name}
        deployment_id: ${deployment_id}
        owner: xds-k8s-interop-test
    spec:
      % if service_account_name:
      serviceAccountName: ${service_account_name}
      % endif
      % if termination_grace_period_seconds:
      terminationGracePeriodSeconds: ${termination_grace_period_seconds}
      % endif
      containers:
      - name: ${deployment_name}
        image: ${image_name}
        imagePullPolicy: Always
        startupProbe:
          tcpSocket:
            port: ${test_port}
          periodSeconds: 3
          ## Extend the number of probes well beyond the duration of the test
          ## driver waiting for the container to start.
          failureThreshold: 1000
        args:
          - "--port=${test_port}"
        ports:
          - containerPort: ${test_port}
        env:
          - name: GRPC_XDS_BOOTSTRAP
            value: "/tmp/grpc-xds/td-grpc-bootstrap.json"
          - name: GRPC_XDS_EXPERIMENTAL_V3_SUPPORT
            value: "true"
          - name: GRPC_EXPERIMENTAL_XDS_ENABLE_OVERRIDE_HOST
            value: "true"
        volumeMounts:
          - mountPath: /tmp/grpc-xds/
            name: grpc-td-conf
            readOnly: true
        resources:
          limits:
            cpu: 800m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 512Mi
        % if pre_stop_hook:
        lifecycle:
          preStop:
            exec:
              command: ["tail", "-f", "/dev/null"] 
        % endif
      initContainers:
        - name: grpc-td-init
          image: ${td_bootstrap_image}
          imagePullPolicy: Always
          args:
            - "--output=/tmp/bootstrap/td-grpc-bootstrap.json"
            - "--vpc-network-name=${network}"
            % if xds_server_uri:
            - "--xds-server-uri=${xds_server_uri}"
            % endif
            % if bootstrap_version=="v0.11.0" or bootstrap_version=="v0.12.0":
            - "--node-metadata-experimental=app=${namespace_name}-${deployment_name}"
            % else:
            - "--node-metadata=app=${namespace_name}-${deployment_name}"
            % endif
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 10m
              memory: 100Mi
          volumeMounts:
            - mountPath: /tmp/bootstrap/
              name: grpc-td-conf
      volumes:
        - name: grpc-td-conf
          emptyDir:
            medium: Memory
...
