<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="grpc-unit-tests">
      <directory suffix="Test.php">tests/unit_tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">lib/Grpc</directory>
    </include>
    <report>
      <html outputDirectory="./log/codeCoverage" lowUpperBound="75" highLowerBound="95"/>
    </report>
  </coverage>
</phpunit>
