%YAML 1.2
--- |
  {
    <%include file="../build_options.include" args="executable=True"/>
    "dependencies": {
      "Grpc.HealthCheck": {
        "target": "project"
      },
      "NUnit": "3.2.0",
      "NUnitLite": "3.2.0-*"
    },
    "frameworks": {
      "net45": { },
      "netcoreapp1.0": {
        "imports": [
          "portable-net45"
        ],
        "dependencies": {
          "Microsoft.NETCore.App": {
            "type": "platform",
            "version": "1.0.0"
          }
        }
      }
    }
  }
