.libs/
build/
modules/
autom4te.cache/
*.lo
*.la
.deps
acinclude.m4
aclocal.m4
config.*
configure*
Makefile*
run-tests.php

install-sh
libtool
missing
mkinstalldirs

ext/grpc/ltmain.sh
composer.lock
vendor/

*.pb.php
*_grpc_pb.php
