name: PR AutoTag
on:
  pull_request_target:
    types: [opened, reopened, synchronized, edited]
permissions:
  contents: read # to determine modified files (actions/labeler)

jobs:
  triage:
    permissions:
      contents: read # to determine modified files (actions/labeler)
      pull-requests: write # to add labels to PRs (actions/labeler)

    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        sync-labels: ""

